@import url(<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">);
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit','Poppins', sans-serif;
    box-sizing: border-box;
    scroll-padding-top:2rem ;
    scroll-behavior: smooth;
   
}
:root{
    --main-color:rgba(244, 244, 235, 0.819);
    --hover-color: rgb(225, 29, 29);
    --body-color: rgba(0, 0, 0, 0.864);
    --text-color:red;
}
body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.659),rgba(0, 0, 0, 0.627)),url('/MMM/movie\ pics/jw.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
}
header{
  background:var(--body-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.logo{
margin-left: 60px;
margin-top: 50px;
font-size: 22px;

}
.logo img{
    height: 5vh;
    font-size: 22px;
}
.logo h3{
    color:var(--text-color);
    font-size: 25px;
    margin-top: -35px;
    font-size: 22px;

    margin-left: 50px;
}
.nav ul{
    display: flex;
    font-size: 22px;
}
.nav ul li{
    list-style: none;
    font-size: 22px;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: var(--text-color);
    font-size: 22px;
}
.nav ul li a:hover{
    color: var(--hover-color);
    font-weight: bolder;
    scale: 1.1;
}
.search{
    cursor:pointer;
    color:var(--text-color);
    margin-top: 40px;
    margin-right: 40px;
    
}
.search i{
    font-size: 21px;
    margin-right: 11px;
    padding: 0px 13px;
}
.Trailer-movie{
    position: absolute;
    color:var(--main-color);
   margin-top: 100px;
   margin-left: 700px;
}

.inside-Trailer-movie h1{
    font-size: 28px;
}
span{
    color: var(--text-color);
    font-weight: bold;
}
.poster{
    margin-top: 130px;
    margin-right: 150px;
    display: flex;
}
.poster img{
    height:320px;
    float: right;
    border-radius: 10px;
}
.new-release-movies{
    background-color: var(--body-color); 
    position: absolute;
    width:100%;
    height: 150%;
    margin-top: 400px;
    padding: 12px 22px;
    
}
.new-release-movies h1{
    font-size: 30px;
    margin-right:50px;
    color:var(--text-color) 
}
.latest-container{
    align-items: center; 
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    padding: -50px 50px;
    margin:-15px;
}
.latest-inside img{
    height: 222px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.latest-inside img:hover{
    transform: scale(1.1);
    color:var(--hover-color)
}
.heading1{
    color:var(--main-color);
    line-height: 1.5;
}
.heading1 h4{
    font-size: 15px;
    line-height:1.5
}
.heading1 h6{
    font-size: 11px;
}.btn1{
    margin-top: 29px;
}
.btn1 a{
     border-radius: 32px;
    background-color: var(--text-color); 
    text-decoration: none;
    color: var(--main-color);
    padding: 10px 25px;
    
}
.btn1 a:hover{
    background: var(--hover-color);
    color: var(--main-color);
}
.btn1 i{
    color:var(--body-color);
    padding: 0px 10px;
}
.btn1 i:hover{
    color: var(--main-color);
}
.playing-movies{
    position: absolute;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    background-color: var(--body-color);
    padding: 0px 20px;
    color: var(--main-color);
    margin-top: 830px;
}
.playing-movies h1{
    font-size: 30px;
    display: flex;
    color:var(--text-color);
    margin-left: 100vh;
    padding-block:initial ;
}
.playing-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playing-inside h3{
    font-size: 15px;
    font-weight:500;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.playing-inside img{
   height: 250px;
   border-radius: 10px;
   transition: all 500ms ease-in-out;
   display: flex;
   align-items: center;
}
.playing-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.bookaticket{
    margin-top: 11px;
}
.bookaticket a:hover{
    color:var(--main-color)}
.bookaticket a{
    display:flex;
    background: var(--text-color);
    border-radius:25px;
    position:absolute;
    padding: 5px 11px;
    color: var(--body-color);
    margin-top: 0px;
    margin-left: 12px;
    font-weight: bolder;
    cursor: pointer;
    align-items: center;
}
.thirdrow-movies{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: var(--body-color);
    padding: 0 22px;
    color: var(--main-color);
    margin-top: 1350px;
}
.thirdrow-movies h1{
    font-size: 20px;
    color:var(--text-color);
}
.thirdrow-container{
    margin-top: 30px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.thirdrow-inside h3{
    font-size: 15px;
    font-weight:500;
    margin-top: 6px;
}
.thirdrow-inside img{
   height: 250px;
   transition: all 500ms ease-in-out;
   border-radius: 10px;
   display:flex;
}
.thirdrow-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.BaT6{
    background: var(--text-color);
    border-radius:25px;
    position:absolute;
    padding: 7px 11px;
    color: var(--body-color);
    margin-top: 0px;
    margin-left: 12px;
    font-weight: bolder;
    cursor: pointer;
    align-items: center;
}
.BAT6:hover{
color:var(--main-color)
}
.line{
    height: 2px;
    background-color: var(--main-color);
    width: 7%;
    margin-left: 170px;
    position: absolute;

}

.footer{
    position: absolute;
    margin-top: 1960px;
    height: 10vh;
    color: var(--main-color);
    background:var(--body-color);
    width: 100%;
    padding-bottom: -22px;
    padding-right: 28px;;
}

.footer-logo img{ 
    font-size: 22px;
    height:9vh;
    margin-left: 70px;
    margin-top: -90px;
   
}
.footer-logo h1{
    color:var(--text-color);
    font-size: 40px;
    margin-top: 25px;
    margin-left: 650px;
    cursor: pointer;

}
.copyright{
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}
.copyright span{
    margin-right: 2px;
}
.btn4{
    margin-right: 60px;
    margin-top: 30px;
}
.btn4 a{
    text-decoration: none;
    padding: 10px 25px;
    color: var(--body-color);
    background: var(--text-color);
    border-radius: 30px;
}






































