@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box ;
    font-family:  'Kanit', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top:2rem ;

}
:root{
    --main-color:rgba(244, 244, 235, 0.819);
    --hover-color: rgb(225, 29, 29);
    --body-color: rgba(0, 0, 0, 0.864);
    --text-color:red;
}
a{
    text-decoration: none;
}
li{
    list-style:none;
}
section{
    padding:3rem 0 2rem;
}
img{
    width:100%;
}
.bx{
    cursor: pointer;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width:100%;

}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: var(--body-color);
    z-index: 100;

}
.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;

}
.logo{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 600;
    text-transform:uppercase;
    margin:0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}

/* search box*/
.search-box{
    max-width: 240px;
    width:100%;
    display:flex;
    align-items: center;
    column-gap: .7rem;
    padding:8px 15px;
    background: var(--container-color);
    border-radius:4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color:var(--main-color)
}
#search-input{
    width:100%;
    border: none;
    outline:none;
    color: black;
    font-size:1rem

}

.user{
    display:flex;
}
.user-img{
    width:40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
    object-position: center;

}
.navbar{
    position: fixed;
    top:50%;
    transform: translate(-50%);
    left:18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1em;
}
.nav-link {
    display:flex;
    flex-direction:column;
    align-items: center;
    color:rgb(157, 156, 156);
}
.nav-link:hover,
.nav-active {
    color:var(--text-color);
    transition:.3s all linear;
    transform: scale(1.1);;

}
.nav-link .bx {
font-size:1.5rem;
}
.nav-link-tittle {
    font-size: 0.9rem;
}
.home{
    position: relative;
    height:470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: .5rem;

}
.home-img{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:-1;
    object-fit:cover;
    border-radius:.5rem
}
.home-text{
    padding-left:40px;
}
.home-tittle{
    font-size:2rem;
    font-weight: 600;
}
.home-text p{
    font-size:1rem;
    margin:10px 0 20px;
    color:var(--main-color)
}
.watch-btn{
    display:flex;
    align-items: center;
    column-gap: .8rem;
    color:var(--text-color);
}
.watch-btn .bx{
    font-size:30px;
    background: var(--main-color);
    width:40px;
    height:40px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover{
    background: var(--hover-color);
}
.watch-btn span{
    font-size:1rem ;
    font-weight: 400;
}

.heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding:8px 14px;
    border: 1px solid hsl(200 100% 99%/ 5%);
    margin-bottom:2rem;
}
.heading-title{

}


















































