*{
    margin:0px;
    padding:0px;
    box-sizing:border-box ;
    font-family:'Poppins'  'Kanit', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top:2rem ;
    font-family: 'Open Sans', sans-serif;
}
/*:root{
    --main-color:rgba(244, 244, 235, 0.819);
    --hover-color: rgb(225, 29, 29);
    --body-color: rgba(0, 0, 0, 0.864);
    --text-color:red;
}*/
a{
    text-decoration: none;
}
li{
    list-style:none;
}
section{
    padding:3rem 0 2rem;
}
img{
    width:100%;
}
.bx{
    cursor: pointer;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width:100%;
}
header{
    top:0;
    left:0;
    width:100%;
    background: var(--body-color);
    z-index: 100;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;
}
/*.logo{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 600;
    text-transform:uppercase;
    margin:0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box*/
.search-box{
    max-width: 240px;
    width:100%;
    display:flex;
    align-items: center;
    column-gap: .7rem;
    padding:8px 15px;
    background: var(--container-color);
    border-radius:4rem;
    margin-right: 1.1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color:var(--main-color)
}
#search-input{
    width:100%;
    border: none;
    outline:none;
    color: black;
    font-size:1rem;
    background:transparent;
}
.user{
    display:flex;
}
.user-img{
    width:40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
    object-position: center;
}
/* Navbar*/
.navbar{
    position: fixed;
    top:50%;
    transform: translate(-50%);
    left:30px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1em;
}
.nav-link {
    display:flex;
    flex-direction:column;
    align-items: center;
    color:rgb(157, 156, 156);
}
.nav-link:hover,
.nav-active {
    color:var(--text-color);
    transition:.3s all linear;
    transform: scale(1.1);;

}
.nav-link .bx {
font-size:1.5rem;
}
.nav-link-tittle {
    font-size: 0.9rem;
}
.home{
    position: relative;
    height:470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: .5rem;

}
.home-img{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:-1;
    object-fit:cover;
    border-radius:.5rem
}
.home-text{
    padding-left:40px;
}
.home-tittle{
    font-size:3rem;
    font-weight: 700;
}
.home-text p{
    font-size:1rem;
    margin:10px 0 20px;
    color:var(--main-color);
 
}
.watch-btn{
    display:flex;
    align-items: center;
    column-gap: .8rem;
    color:var(--text-color);
}
.watch-btn .bx{
    font-size:30px;
    background:rgba(0, 0, 0, 0.507);
    width:40px;
    height:40px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.watch-btn .bx:hover{
    background: var(--hover-color);
}
.watch-btn span{
    font-size:1rem ;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.43);
}

.heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding:8px 14px;
    border: 1px solid rgba(255, 1, 1, 0.367);
    margin-bottom:2rem;
}
.heading-title{
font-size: 1.2rem;
font-weight: 500;
}
.movie-box{
    position: relative;
    width:100%;
    height:380px;
    overflow:hidden;

}
.movie-box-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.movie-box.bot-text{
position:absolute;
bottom: 0;
left:0;
width:100%;
height:100%;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding:14px;
background: linear-gradient(8deg,
hsl(240 17% 14%/74%)14%,
hsl(240 17% 14%/74%)44%,);
overflow:hidden;
}.movie-tittle{
    font-size:1.1rem;

font-weight:500;
}
.movie-type{
    font-size: 1rem;

}
.play.btn{
    position: absolute;
    bottom:.8rem;
    right:.8rem
}
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-btn{
    display: flex;

}

.swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  }
.swiper-button-next,
 .swiper-button-prev{
    position:static !important;
    margin: 0 0 0 10px !important;
}
.swiper-button-next, 
.swiper-button-prev{
color:var(--text-color);
font-size: 18px !important;
font-weight: 700;
}