body {
    height: 800px;
    background-color: rgb(255, 255, 255); 
    background-image: linear-gradient(to bottom, white, blue  ,black);
  }     

  footer {
    position: absolute;
  bottom: 0;
  width: 100%;
  }

  nav {
    padding-left: 10px;
  }
